@model IEnumerable<MvcMovie.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<div class="container m-2 p-4 bg-white rounded-3">
    <div class="mt-2">
        <h1>@ViewData["Title"]</h1>
    </div>



    <div class="d-flex justify-content-end align-items-center">
        <a asp-action="Create" class="primary-btn">Create New</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="fixed-width">
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th class="fixed-width">
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th class="fixed-width">
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
